.App {
  text-align: center;
}
canvas {
  height: 300px;
}
.beth{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  border: 8px double grey;
}
.headers {
  font-family:'Play', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.canvasContainer{
  height: 400px;
}

.formWidth{
  width: 500px;
}
.padding{
  padding: 20px;
  margin-top: 5px;
}
.padding label{
  padding: 10px;
}
.padding button{
  background: none;
  border: 1px solid grey;
  margin-top: 20px;
  border-radius: 4px;
}
 .navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Play', sans-serif;
  font-size: 1.2em;
}
 .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Play', sans-serif;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: #f05f40;
}

p{
  font-size: 18px;
}

.button{
  color: white;
  background: royalblue;
  width: 100px;
  height: 30px;
  margin-top: 5px;
}
